[build]
  base = "client"
  command = "npm run build"
  publish = "dist"
  environment = { VITE_API_BASE = "https://real-estate-app-h0om.onrender.com/api" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
